<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a routerLink="" style="text-decoration: none;"><h3>Web Store</h3></a>

    <div style="position: relative; left: 1300px;">
      <a routerLink="/cart" id="cart-btn" class="m-3 btn btn-outline-primary" href="#">Cart</a>
  
      <a class="m-1 btn btn-outline-primary" href="#" routerLink="sign-up">Sign up</a>
      <a class="m-1 btn btn-outline-primary" href="#" routerLink="login">Log in</a>
    </div>
  </div>