<!-- This item was created by the help of bootstrap -->
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
        <img [src]="product.img"
            width="200px">
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa saepe aspernatur obcaecati at deserunt officia quasi quod voluptatem quisquam, nisi necessitatibus veritatis harum vel nulla quaerat a sint? Adipisci, consequuntur!</p>
    </div>
    <div class="card-footer">
        <a href="#" class="mb-2 btn btn-primary "> {{ product.price | currency}} </a>
        <a href="#" class="mb-2 btn btn-primary btn-success" (click)="addToCart()">Add to the cart</a>
    </div>
</div>