<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~EDIT THIS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div *ngIf="!logged">
  <body class="text-center">
    <form class="form-signin">
      <img
        class="mb-4"
        src="https://i.pinimg.com/originals/a5/c9/c7/a5c9c7064dc6b9f7051d7150a0fb60ab.jpg"
        alt=""
        width="100"
      />
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        [(ngModel)]="username"
        name="password"
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      />
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        (click)="login()"
      >
        Submit
      </button>
      <p class="mt-5 mb-3 text-muted">:copyright: 2021</p>
    </form>
  </body>
</div>

<div *ngIf="logged">
<p>You are already logged in</p>
</div>
